body {
  font-family: system-ui;
  background: #E4E4E4;
  color: black;
  text-align: center;
}

h1 {
  color: #393E46;
  text-align: senter;
}

h2 {
  color: #393E46;
  text-align: senter;
}
div{
  align: senter;
}
img {
  width: 300px;
}